@using SI_Bianca_Franca_2026.DTOs.Localizacao
@using SI_Bianca_Franca_2026.Models.Localizacao

<EditForm Model="EstadoDto" OnValidSubmit="Salvar">
    <DataAnnotationsValidator />

    <div div style="display: grid; grid-template-columns: 80px 1fr; gap: 20px;">
        <div class="form-group" style="width: 100px;">
            <label>Código</label>
            @if (EstadoDto.Id == 0)
            {
                <input type="text" class="form-control" disabled placeholder="Novo" />
            }
            else
            {
                <InputNumber class="form-control" @bind-Value="EstadoDto.Id" disabled />
            }
        </div>
        <div class="form-group" style="justify-self: end;">
            <label>Status</label>
            <div class="form-check form-switch mt-1">
                <InputCheckbox class="form-check-input" @bind-Value="EstadoDto.Ativo" />
                <label class="form-check-label">@(EstadoDto.Ativo ? "Ativo" : "Inativo")</label>
            </div>
        </div>
    </div>
    <div class="form-group col-full">
        <label class="obrigatorio">País Pertencente</label>
        <InputSelect class="form-control" @bind-Value="EstadoDto.IdPais">
            <option value="0">Selecione...</option>
            @foreach (var pais in ListaPaises)
            {
                <option value="@pais.Id.ToString()">@pais.Pais</option>

            }
        </InputSelect>
        <ValidationMessage For="@(() => EstadoDto.IdPais)" class="text-danger" />
    </div>

    <div class="form-group col-full">
        <label class="obrigatorio">Estado</label>
        <InputText class="form-control" @bind-Value="EstadoDto.Estado" maxlength="55" placeholder="Ex.: Paraná" />
        <ValidationMessage For="@(() => EstadoDto.Estado)" class="text-danger" />
    </div>

    <div class="form-group" style="width: 80px">
        <label class="obrigatorio">UF</label>
        <InputText class="form-control" @bind-Value="EstadoDto.Uf" maxlength="2" placeholder="Ex.: PR" />
        <ValidationMessage For="@(() => EstadoDto.Uf)" class="text-danger" />
    </div>

    @if (EstadoDto.Id != 0)
    {
        <hr />
        <div class="form-grid auditoria">
            <div class="form-group">
                <label>Data de criação</label>
                <input class="form-control" disabled value="@EstadoDto.DataCriacao.ToString("dd/MM/yyyy HH:mm:ss")" />
            </div>

            <div class="form-group">
                <label>Última alteração</label>
                <input class="form-control" disabled value="@EstadoDto.DataUltimaAlteracao.ToString("dd/MM/yyyy HH:mm:ss")" />
            </div>

            <div class="form-group col-full">
                <label>Alterado por</label>
                <input class="form-control" disabled value="@EstadoDto.NomeUsuarioAlteracao" />
            </div>
        </div>
    }

    <div class="form-actions">
        <button type="button" class="btn btn-secondary" @onclick="() => AoCancelar.InvokeAsync()">Cancelar</button>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
</EditForm>

@code {
    [Parameter, EditorRequired] public EstadosDTO EstadoDto { get; set; } = new();

    [Parameter, EditorRequired] public List<Paises> ListaPaises { get; set; } = new();

    [Parameter] public EventCallback AoSalvar { get; set; }
    [Parameter] public EventCallback AoCancelar { get; set; }

    private async Task Salvar() => await AoSalvar.InvokeAsync();
}