@using SI_Bianca_Franca_2026.DTOs.Localizacao
<EditForm Model="PaisDto" OnValidSubmit="Salvar">
    <DataAnnotationsValidator />

    <div div style="display: grid; grid-template-columns: 80px 1fr; gap: 20px;">
        <div class="form-group" style="width:80px;">
            <label>Código</label>
            @if (PaisDto.Id == 0)
            {
                <input type="text" class="form-control" disabled placeholder="Novo" />
            }
            else
            {
                <InputNumber class="form-control" @bind-Value="PaisDto.Id" disabled />
            }
        </div>
        <div class="form-group" style="justify-self: end;">
            <label>Status</label>
            <div class="form-check form-switch mt-1">
                <InputCheckbox class="form-check-input" @bind-Value="PaisDto.Ativo" />
                <label class="form-check-label">@(PaisDto.Ativo ? "Ativo" : "Inativo")</label>
            </div>
        </div>
    </div>
    <div class="form-group col-full">
        <label class="obrigatorio">País</label>
        <InputText class="form-control" @bind-Value="PaisDto.Pais" maxlength="55" placeholder="Ex.: Brasil" />
        <ValidationMessage For="@(() => PaisDto.Pais)" class="text-danger" />
    </div>

    <div div style="display: grid; grid-template-columns: 92px 92px 92px 1fr; gap: 20px;">
        <div class="form-group">
            <label class="obrigatorio">Sigla</label>
            <InputText class="form-control" @bind-Value="PaisDto.Sigla" maxlength="3" placeholder="Ex.: BRA" />
            <ValidationMessage For="@(() => PaisDto.Sigla)" class="text-danger" />
        </div>
        <div class="form-group">
            <label class="obrigatorio">DDI </label>
            <InputText class="form-control" @bind-Value="PaisDto.Ddi" maxlength="4" placeholder="Ex.: +55" />
            <ValidationMessage For="@(() => PaisDto.Ddi)" class="text-danger" />
        </div>

        <div class="form-group">
            <label class="obrigatorio">Moeda </label>
            <InputText class="form-control" @bind-Value="PaisDto.Moeda" maxlength="3" placeholder="Ex.: BRL" />
            <ValidationMessage For="@(() => PaisDto.Moeda)" class="text-danger" />
        </div>

    
    </div>
    @if (PaisDto.Id != 0)
    {
        <hr />
        <div class="form-grid-auditoria">
            <div class="form-group">
                <label>Data de criação</label>
                <input class="form-control" disabled
                       value="@PaisDto.DataCriacao.ToString("dd/MM/yyyy HH:mm:ss")" />
            </div>
            <div class="form-group">
                <label>Última alteração</label>
                <input class="form-control" disabled
                       value="@PaisDto.DataUltimaAlteracao.ToString("dd/MM/yyyy HH:mm:ss")" />
            </div>
            <div class="form-group">
                <label>Alterado por</label>
                <input class="form-control" disabled
                       value="@PaisDto.NomeUsuarioAlteracao" />
            </div>
        </div>
    }

    <div class="form-actions">
        <button type="button" class="btn btn-secondary" @onclick="() => AoCancelar.InvokeAsync()">Cancelar</button>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
</EditForm>

@code {
    [Parameter, EditorRequired] public PaisesDTO PaisDto { get; set; } = new();
    [Parameter] public EventCallback AoSalvar { get; set; }
    [Parameter] public EventCallback AoCancelar { get; set; }

    private async Task Salvar() => await AoSalvar.InvokeAsync();
}